.headerContainer {
  align-items: center;
  background-color: #189ab4;
  color: white;
  display: flex;
}

.headTitleContainer {
  display: flex;
  flex-grow: 4;
  justify-content: center;
}

.sidebarwrapper {
  display: flex;
  position: fixed;
  width: 480px;
}
.sidebar {
  /* height: 250px; */

}

.maincomponent {
  padding: 5px;
}

@media screen and (min-width: 768px) {
  .sidebar {
    height: 100vh;
    width: 20%;
    float: left;
  }
}
