.cardsContainer {
  margin: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card_products {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.card_products:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.card img {
  max-height: 240px;
  width: auto;
}

.quantityContainer {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: space-between;
}

.quantity {
  font-size: 2em;
}

.productButton {
  appearance: none;
  background-color: white;
  border: 1px solid black;
  border-radius: 30%;
  font-size: 1em;
  padding: 0.5em 0.8em;
}

.price {
  font-size: 1.5em;
}

.btn-cart {
  background-color: #fff;
  color: #189ab4;
  border: #189ab4 solid 1px;
  border-radius: 5px;
}
